/* This CSS applies to every page extending layout.html */

body {
    /* temporary background color to reduce screen glare */
    background-color:rgb(229, 229, 229) 
}

.error-message-container {
    color: red;
}


.listingpicture {
    width: 200px;
}

.square-thumbnail {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

#listing-message-textarea {
    width: 70%;
    max-width: 600px;
}

/* Landing page */
@keyframes fade-in {  
    0% {
      opacity: 0;
    }
    100% {
      opacity:1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in;
}
.verticalspace {
    height: 60px;
}

#city-selector {
    width: 150px;
}



/* Search results page */
.slim-btn {
    height: 30px;
}

#additional-filter-area {
    display: flex;
    gap: 10px;
}
/* Messages page */
/* #respond {
    display: none;
} */