/* This CSS applies to every page extending layout.html */

body {
    /* temporary background color to reduce screen glare */
    background-color:rgb(128, 128, 128) 
}

.error-message-container {
    color: red;
}

.verticalspace {
    height: 60px;
}

#city-selector {
    width: 150px;
}

.listingpicture {
    width: 200px;
}

.square-thumbnail {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

#listing-message-textarea {
    width: 70%;
    max-width: 600px;
}

@keyframes fade-in {  
    0% {
      opacity: 0;
    }
    100% {
      opacity:1;
    }
}
.fade-in {
    animation: fade-in 1s ease-in;
    /* animation-duration: 2s; //take 2s to interpolate between frames
    animation-fill-mode: forwards; // normal fwds interpolation
    animation-play-state: paused; // start paused, then activate later. */
  }