{% extends 'sublets/layout.html' %}
{% load static %}

{% block title %}
Sublets - Home
{% endblock %}
{% block body %}

<div id="respond" >

    <div style="width: 75%; margin:auto; border:2px solid black;">

            <div class="child" style="border:2px solid red; width:100%;  display: inline-block;">   

                From: <p id="From"></p>
                To: <p id="To"></p>
                Listing: <p id="Listing"></p>
                Message: <p id="Message"></p>
                Sent at: <p id="Sent_at"></p>

                Response:<br> <textarea id="response_message" style="width:75%;"> </textarea> <br>



            <button class="send_button" type="submit">Send Reply</button>

        </div> 

    </div>
</div>


<div id="show-messages" style="width: 75%; margin:auto; border:2px solid black;">

    {% for message in page_obj_in %} 
    
    <div class="parent" style="width: 100%; margin:auto; border:2px solid green;">

        <div class="child" style="border:2px solid red; width:100%;  display: inline-block;">   

            From: {{ message.sender.username }} <br>
            To: {{ message.recipient.username }} <br>
            Listing: {{ message.listing.address_line_1 }} <br>
            Message: {{ message.body }} <br>
            Sent_at: {{ message.sent_at}} <br>
            

            <button class="message_button" id="test" type="submit">Reply</button>

        </div> 

    </div>    


    {% empty %}
        
        No Messages

    {% endfor %}

    <div class="pagination" style="margin : auto; text-align: center;">
        <span class="step-links"  style="margin : auto;">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'sublets/JS/messages.js' %}"></script>
{% endblock %}