{% extends 'sublets/layout.html' %}
{% block title %}
Sublets - Profile
{% endblock %}
{% block body %}

{% if has_profile %}
    <div class="container-fluid">
        <div class="row">
        {% for pic in profile_pictures %}
            <div class="col-4 col-md-3 mb-2">
            <div class="square-thumbnail" style="background-image: url('{{ pic.picture.url }}');"></div>
            </div>
        {% empty %}
            <p>(Profile has no pictures)</p>
        {% endfor %}
        </div>
    </div>
    About me:
    {% if profile_user == user %}
    <button id="edit-about-me-button" class="btn btn-primary" type="button" >Edit</button>
    <br>
    {% endif %}
    {{ profile.about_me }}<br>
    <br>

    I'm looking for:
    {% if profile_user == user %}
    <button id="edit-looking-for-button" class="btn btn-primary" type="button" >Edit</button>
    {% endif %}
    <br>
    {{ profile.looking_for }}<br>
{% else %}
    {% if profile_user == user %}
    Your profile is empty. 

    Fill it out to be chosen for the best sublets out there!<br>
    <br>
    <a href="{% url 'profile_setup' %}" class="btn btn-primary" role="button" id="create-profile-button">Get started</a>
    {% else %}
    This user has an empty profile.

    Want to poke them to set up their profile?<br>
    Note: This is not implemented as it was not part of the specifications and is out of scope.<br>
    <button id="poke-user-button" class="btn btn-primary" type="button" >Poke</button>
    {% endif %}
{% endif %}

{% endblock %}