{% extends 'sublets/layout.html' %}
{% block title %}
Sublets - Saved Listings
{% endblock %}
{% block body %}
<ul>

    {{ message }}
    <form action="{% url 'saved_listings' %}" method="post" style="margin:auto;">
        {% csrf_token %}

        <input type="Text" name="email" placeholder="Enter contact email here"></input>

        <button type="submit">Send</button>
    </form>
    <br>


{% for listing in saved_listings %}


    <div class="parent" style="width: 75%; margin:auto; border:2px solid green;">

        <div class="child" style="border:2px solid red; width:50%;  display: inline-block;">   
            
            <p>
            Listing by: <a href="{% url 'profile' listing.created_by.id %}">
                {{ listing.created_by.username }} </a><br>
            Address: {{ listing.address_line_1 }} <br>
            City: {{ listing.city }} <br>
            Zip: {{ listing.zip_code }} <br>
            Rent: {{ listing.rent }} <br>
            Timeframe: {{ listing.start_date }} to {{ listing.end_date}}<br>
            Type: {{ listin.listing_type }}<br>
            Description: {{ listing.description }}<br>
            <a href="{% url 'listing' listing_id=listing.id %}" class="btn btn-primary">See more</a>
            </p>
            </div> 
        <div class="child" style="width:49%; border:2px solid blue; display: inline-block; ">

            <div class="row">
                {% for pic in listing_pictures %}

                    {% if pic.listing.id == listing.id %}
                    <div class="col-4 col-md-6 mb-2">
                    <div class="square-thumbnail" style="background-image: url('{{ pic.picture.url }}');"></div>
                    </div>
                    {% endif %}
                {% empty %}
                    <p>(Listing has no pictures)</p>
                {% endfor %}
            </div>


        </div>
          
    </div>    


    {% empty %}
        
        No Saved Listings

    
    {% endfor %}
</ul>
{% endblock %}